@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Get Started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Getting Started</h1>

<br />
<div class="container row p-0 m-0">
    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <a asp-action="StartReport" asp-controller="Reports" class="btn btn-info form-control text-white">Start a New Report</a>
        </div>
        <div>
            <a asp-action="Reports" asp-controller="Reports" class="btn btn-info form-control text-white">My Reports</a>
        </div>
    }
    else
    {
        <div>
            <a class="btn btn-info form-control text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div>
            <a class="btn btn-info form-control text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }

</div>
