@model ProjectAthena.Models.CampaignUser

@{
    ViewData["Title"] = "New Campaign User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add a user to @ViewBag.nameOfCampaign</h1>

<div>
    <form asp-action="NewCampaignUser" method="post">
        <input type="hidden" asp-for="CampaignId" value="@ViewBag.IdCampaign"/>
        @*<select asp-for="CampaignId" asp-items="@(new SelectList(ViewBag.ListofCampaigns, "Id", "Name"))"></select>*@
        <select asp-for="ApplicationUserId" asp-items="@(new SelectList(ViewBag.ListofUsers, "Id", "FullName"))"></select>
        <input type="submit" value="Add New Member" />
    </form>
</div>